Package: klon
Version: 0.2.3-1
Architecture: all
Maintainer: Chuck Talk <cwtalk1@gmail.com>
Installed-Size: 1829
Depends: python3-gi, python3-requests, python3:any, gir1.2-gtk-4.0, gir1.2-adw-1, udisks2, coreutils, pkexec
Section: utils
Priority: optional
Homepage: https://github.com/chucktalk/klon
Description: System cloning and recovery tool
 Klon is a simple utility to clone your entire OS drive for backup and recovery.
 It features a modern GTK4 interface and supports creating bootable recovery media.
