[Desktop Entry]
Name=Klon
Comment=System Cloning & Recovery Tool
Exec=klon
Icon=com.taliskerman.klon
Terminal=false
Type=Application
Categories=System;Utility;Archiving;
Keywords=backup;clone;restore;disk;iso;usb;
StartupNotify=true
